<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-size=1.0">

	<meta name="author" content="Syed Hashir Ali Shah, Omair Ahmad, Hazrat Umer">
	<meta name="keyword" content="IOT and Computer vision based Home automation">
	<meta name="description" content="IOT and Computer vision based Home automation">

	<title>IOT and CV based home automation</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
	
</head>
<body>


	<nav class="navbar navbar-expand-md bg-primary navbar-light">
	  <a class="navbar-brand" href="#">LOGO	</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="collapsibleNavbar">
	    <ul class="navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link" href="{{url_for('userProfile')}}">Profile</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{{url_for('aboutDevs')}}">About Us</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{{url_for('dataset')}}">AI Dataset</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="{{url_for('logoutUser')}}">Logout</a>
	      </li>    
	    </ul>
	  </div>  
	</nav>

    {%block content%}

    {%endblock%}


	<footer>
		Designed and developed with love by &copy; <a href="#"> Syed Hashir</a>, <a href="#">Omair Ahmad</a> and <a href="#">Hazrat Umer</a>
	</footer>


	<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


	<script src="../static/js/manageUsers.js"></script>
	<script src="../static/js/all.min.js"></script>
	<script src="../static/js/fontawesome.min.js"></script>

	<script src="../static/js/jquery.dataTables.min.js"></script>

	<script src="../static/js/ajaxCodes.js"></script>
  <script>
  	$(document).ready(function() {
              
              // Order by the grouping
              $('#example tbody').on('click', 'tr.group', function() {
                  var currentOrder = table.order()[0];
                  if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                      table.order([2, 'desc']).draw();
                  } else {
                      table.order([2, 'asc']).draw();
                  }
              });

              $('#example thead > tr').children()[2].style.width = '20%';
          });
  </script>
  <script>
  	  	// Quick and simple export target #table_id into a csv
function download_table_as_csv(table_id, separator = ',') {
    // Select rows from table_id
    var rows = document.querySelectorAll('table#' + table_id + ' tr');
    // Construct csv
    var csv = [];
    for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll('td, th');
        for (var j = 0; j < cols.length; j++) {
            // Clean innertext to remove multiple spaces and jumpline (break csv)
            var data = cols[j].innerText.replace(/(\r\n|\n|\r)/gm, '').replace(/(\s\s)/gm, ' ')
            // Escape double-quote with double-double-quote (see https://stackoverflow.com/questions/17808511/properly-escape-a-double-quote-in-csv)
            data = data.replace(/"/g, '""');
            // Push escaped string
            row.push('"' + data + '"');
        }
        csv.push(row.join(separator));
    }
    var csv_string = csv.join('\n');
    // Download it
    var filename = 'export_' + table_id + '_' + new Date().toLocaleDateString() + '.csv';
    var link = document.createElement('a');
    link.style.display = 'none';
    link.setAttribute('target', '_blank');
    link.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(csv_string));
    link.setAttribute('download', filename);
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
}
  </script>
</body>
</html>