{%extends "base_layout.html"%}
{%block content%}
	<br><br><br>
	<div class="container">
		<h4 style="color: white;">Manage Loads:	</h4>
	</div>
	<br>	
	<section class="container" id="navContainer">
		<div class="row">

			<div class="col-md-3"  id="sideNav">
				<br>
				<ul class="nav nav-pills hover">
				    <li> 
				    	<a class="btn btn-lg btn-primary" data-toggle="tab" href="#register"><span class="fav fav-add-user"> </span> Add Loads</a> 

				    </li>
				    <li>
				    	<a class="btn btn-lg btn-primary" data-toggle="tab" href="#viewUsers" id="viewLoadsBtn"><span class="fav fav-add-user"> </span> View Loads</a>
				    </li>
				    <li >
				    	<a class="btn btn-lg btn-primary" data-toggle="tab" href="#deleteUser"><span class="fav fav-add-user"> </span> Remove Loads</a>
				    </li>
				</ul>

			</div>
			<div class="col-md-9" id="sideContent">
				<div class="container">
						<div class="tab-content">
							<div id="register" class="tab-pane fade active show">
								<br>
								<h1 style="color: white;">Add a Load:</h1>
								<br>
								<form class="form addUserForm" method="POST" id="addLoadForm">
									<div class="form-group">
										<label for="loadName">Load Name:</label>
										<input type="text" name="loadName" class="form-control" id="loadName" required>
									</div>

									<div class="form-group">
										<label for="loadType">Load Type:</label>
										<!-- <input type="email" name="loadType" class="form-control" id="loadType" required> -->
										<select name="loadType" class="form-control">
											<option value="1">Light</option>
											<option value="2">Door</option>
											<option value="3">Fan</option>
											<option value="4">AC/Heater</option>
										</select>
									</div>

									<div class="form-group">
										<label for="loadPin">PIN Number (GPIO):</label>
										<input type="number" name="loadPin" class="form-control" id="loadPin" required>
									</div>

									<div></div>
									<div class="form-group">
										<button type="submit" class="btn btn-lg btn-success">Add Now</button>
									</div>

								</form>
								<br>
							</div>

							<div id="viewUsers" class="tab-pane fade">
								<br><br>
	              <div class="row" id="loadsContainer">
	              	<div class="col">
	              		<div class="card">
	              			<div class="card-body">
	              				<div class="card-img-top">
	              					<img src="#" class="img img-responsive">
	              				</div>
	              			</div>
	              			<div class="card-footer">
	              			Load Name
	              			<br>
	              			<div>
	              				On<input type="radio" name="On" value="1">
	              			&nbsp; &nbsp;
	              			Off<input type="radio" name="On" value="0">
	              			</div>
	              			
	              		</div>
	              		</div>
	              	</div>
	              	<div class="col">
	              		<div class="card">
	              			<div class="card-body">
	              				<div class="card-img-top">
	              					<img src="#" class="img img-responsive">
	              				</div>
	              			</div>
	              			<div class="card-footer">Load Name</div>
	              		</div>
	              	</div>
	              	<div class="col">
	              		<div class="card">
	              			<div class="card-body">
	              				<div class="card-img-top">
	              					<img src="#" class="img img-responsive">
	              				</div>
	              			</div>
	              			<div class="card-footer">Load Name</div>
	              		</div>
	              	</div>
	              </div>
	             
							</div>

							<div id="deleteUser" class="tab-pane fade">
								<br><br>
								<form class="form deleteUserForm" action="#" method="POST">
									<h1>Delete Loads:</h1>
									<br><br>
									<div class="form-group">
										<label for="userSelect">Select Load</label>
										<select class="form-control">
											<option value="1">Room Fan</option>
											<option value="2">Room Light</option>
											<option value="3">Store Fan</option>
											<option value="4">Store Light</option>
										</select>
									</div>
									<div class="form-group">
										<input type="submit" name="submit" value="Delete Now" class="btn btn-lg bg-success">
									</div>
								</form>
							</div>
						</div>
				</div>
			</div>
		</div>
	</section>
{%endblock%}